    
    <select class="form-select form-select-lg mb-3" [(ngModel)]="selectedCatId" aria-label=".form-select-lg example">
        <option *ngFor="let cat of categories" [value]="cat.Id">{{cat.Name}}</option>
      </select>
    <ng-container>
        
        
        <div class="row">
        <div class="col-12">
            <div class="d-flex flex-wrap">
            <div [class.d-none]="product.CatId != selectedCatId" class="card col-3 m-2" *ngFor="let product of products">
                <div  style="height: 200px; overflow: hidden;">
                    <img class="card-img-top" src={{product.ImageUrl}} height="" alt="Samsung a21s">
                </div>
                <div class="card-body" [style.background-color]="(product.Quantity == 1)? 'yellow' : 'whte'">
                <h5 class="card-title">{{product.Name}}</h5>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                <p class="card-text"><small class="text-muted">{{product.Quantity}}</small></p>
                <button class="btn btn-primary" (click)="buy(product)">Buy</button>
                </div>
            </div>
            </div>
        </div>
        </div>
    </ng-container>
    